@page
@model RazorCrudApp.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Book List";
    var bookCount = Model.Books.Count();
}

<div class="mt-lg-5">


    @if (bookCount == 0)
    {
        <h3>Book List</h3>
        <p>There is no books yet.</p>
        <a asp-page="Create">Create book</a>
    }
    else
    {
        <h4>Book List. <span class="badge badge-primary">@bookCount</span> Books</h4>
        <form method="post">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(m => m.Book.Name)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.Book.CategoryId)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.Book.ISBN)</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Books)
                    {
                    <tr>
                        <th scope="row"><a asp-page="Details" asp-route-id="@item.Id">@Html.DisplayFor(m => item.Name)</a></th>
                        <td>@Html.DisplayFor(m => item.Category.Name)</td>
                        <td>@Html.DisplayFor(m => item.ISBN)</td>
                        <td>
                            <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                            <button type="submit" asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </form>
    }
</div>
